<div class="app-product">
  <p><button (click)="onBuy()" [disabled]="!count">Buy ({{ count }})</button> productName: {{ product?.productName }}</p>
  <div>
    <p>color: {{ product?.color }}</p>
    <p>department: {{ product?.department }}</p>
    <p>price: {{ product?.price | currency:'CAD':'symbol-narrow':'4.2-2' }}</p>
    <p>productAdjective: {{ product?.productAdjective }}</p>
    <p>productMaterial: {{ product?.productMaterial }}</p>
    <p>product: {{ product?.product }}</p>
  </div>
</div>
