<div class="app-product">
  <p><button (click)="onBuy()" [disabled]="!product?.count">Buy ({{ product?.count }})</button> productName: {{ product?.productName }}</p>
  <p>
    <span>color: {{ product?.color }}</span>
    <span>department: {{ product?.department }}</span>
    <span>price: {{ product?.price }}</span>
    <span>productAdjective: {{ product?.productAdjective }}</span>
    <span>productMaterial: {{ product?.productMaterial }}</span>
    <span>product: {{ product?.product }}</span>
  </p>
</div>
